{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content add login_class" style="text-align: center">
          <strong>Shortener</strong>
            <form id="user-form" method="post">
                    <div id="user-info">
                        <hr>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="link" placeholder="Link..">
                        </div>
                    </div>
                <input id="accept" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
</div>

<script type="text/javascript">
    var form = document.getElementById('user-form')
    document.getElementById('accept').addEventListener('click', function(e){
                submitFormData()
                })
    function submitFormData(){
        var link = form.link.value

        var url = '/shortener/'

        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({'link':link})
        })
    }
</script>
{% endblock content %}