{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content add login_class" style="text-align: center">
          <strong>Shortener</strong>
            <div class="box-element add shortener-block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Short!" class="btn btn-primary">
                </form>
                <hr>
                {% if link %}
                <h6>Short link: {{link.short_url}}</h6>
                {% else %}
                <h6>Your shorted url will appear right here..</h6>
                {% endif %}
            </div>
</div>
{% endblock content %}